/* sticky footer: http://getbootstrap.com/examples/sticky-footer-navbar/ */
html, body {
    padding: 0;
    margin: 0;
}
html {
    position: relative;
    min-height: 100%;
}
body {
    background: $page_content_background;
    @media (max-width: $screen-xs-max) {
        margin-bottom: $footer_height * 2;
    }
    @media (min-width: $screen-sm-min) {
        margin-bottom: $footer_height;
    }

}
body[data-role="guest"] {
    background: $white;
}

/* /////////// Reservation detail dialog ////////////////// */
.reservation-detail .dialog-label {
    padding-right: 0;
}


/* /////////// HEADER /////////// */
#top-bar { min-height: $top_menu_height; padding: 10px $global_padding_x; background: $top_menu_background; border-bottom: 1px solid $top_menu_border; color: $top_menu_text_color;
    .left {
        @media (max-width: $screen-xs-max) {
            text-align: center;
            .logo { float: none; }
            .menu { float: none; }
        }
        @media (min-width: $screen-sm-min) {
            text-align: left;
            .logo { float: left; }
            .menu { float: left; }
        }

        .logo {
            img {
              height: 40px; margin-top: 10px;
            }
        }

        .menu {
            @media (max-width: $screen-xs-max) { margin-left: 0; margin-top: 30px; } /* Center everything on small screen */
            @media (min-width: $screen-sm-min) { margin-left: 40px; } /* Put menu on right of logo */

            ul { margin-bottom: 0;
                li a { display: block; }

                @media (max-width: $screen-xs-max) { /* Center everything on small screen */
                    li { display: block; }
                }
                @media (min-width: $screen-sm-min) { /* Put menu on right of logo */
                    li { line-height: $top_menu_line_height;
                        a { height: $top_menu_line_height; }
                    }
                }
            }

            ul.list-inline {
              li {
                margin-left: 20px;
              }
            }
        }
    }

    .loginout-block { line-height: $top_menu_line_height; vertical-align: middle;
        @media (max-width: $screen-xs-max) { text-align: center; }
        @media (min-width: $screen-sm-min) { text-align: right; }

        ul { margin-bottom: 0;
            a.logout { text-decoration: none; display: block; height: $top_menu_line_height;
                &:hover { text-decoration: none; }

                img { padding-left: 10px; margin-top: -2px; opacity: 0.6; }
                &:hover img { opacity: 1; }
            }
        }
    }
}
/* /////////// HEADER /////////// */




/* /////////// PAGE CONTENT /////////// */
#page-content {
    body[data-role="guest"]  & { background: $white; }
    body[data-role="member"] & { background: $page_content_background; }

    @media (max-width: $screen-md-max) {
        padding: 15px; margin: 0 auto 20px auto;
    }
    @media (min-width: $screen-lg-min) {
        padding: 40px $global_padding_x;
    }


    /* block on right should be configured in an another scss file! */
    /* Also look to the end of this block: there is a box-shadow + background settings (only for members) */
    #content-container { padding: 15px; width: auto; background: $page_content_background_data;
        body[data-role="guest"]  & { width: 100%; } /* For guest display only content block */
        body[data-role="member"] & {
            @extend .box-shadow;

            @media (max-width: $screen-md-max) { /* Make it 100% width on small screens */
                margin: 30px 0 30px 0;
            }
            @media (min-width: $screen-lg-min) { /* Make it float on right on large screens */
                width: auto; overflow: hidden; margin-left: 370px; margin-right: 10px; border-radius: 4px;
            }
        }
    }
    #content-container {  /* setted in section above, for table=true/false */ }
}
/* /////////// PAGE CONTENT /////////// */


/* /////////// FOOTER /////////// */
#footer { background: $footer_background; border-top: 1px solid $footer_border; padding: 0 $global_padding_x; position: absolute; bottom: 0; width: 100%; min-height: $footer_height;
    div.social, div.copyright { min-height: $footer_height; line-height: $footer_height;
        @media (max-width: $screen-sm-max) { text-align: center; float: initial; }
        @media (min-width: $screen-md-min) { text-align: left; float: left; }
    }

    div.social { 
        ul { margin-bottom: 0; height: $footer_height;
            li { width: 90px; height: $footer_height;
                &.facebook  a,
                &.instagram a,
                &.linkedin  a { display: block; width: 100%; height: 100%; position: relative; opacity: 0.6; margin: 0;
                    &:hover { opacity: 1; }
                    span { display: block; width: 36px; height: 24px; position: absolute; left: 50%; top: 50%; margin-left: -18px; margin-top: -12px; }
                }
                &.facebook  a span { background: url('#{$image_url_social_logo}'); background-position:   4px 0; background-size: 150px 25px; background-repeat: no-repeat; }
                &.instagram a span { background: url('#{$image_url_social_logo}'); background-position: -45px 0; background-size: 150px 25px; background-repeat: no-repeat; }
                &.linkedin  a span { background: url('#{$image_url_social_logo}'); background-position: -90px 0; background-size: 150px 25px; background-repeat: no-repeat; }
            }
        }
    }
    div.copyright { margin-left: 20px; font-size: 0.8em; color: $footer_text; margin-top: 3px; }
}
/* /////////// FOOTER /////////// */
