$profile_avatar_container_background         : $blue;
$profile_avatar_container_text               : $white;

$profile_avatar_container_summary_text       : #76919a;
$profile_avatar_container_summary_border     : $page_content_border;
$profile_avatar_container_summary_value_text : #364751;

// Profile / avatar block on left
// Min-width should be 320px so i'm ignoring default value from col-xs-*

// THIS BLOCK IN AVATAR SECTION HAS TWO LAYERS: avatar+info AND avatar-update
//
#profile-container { position: relative;

    // Design of first avatar layer: main profile content (inside this section)
    body[data-role="guest"]  & { display: none; } /* For guest display only content block */
    body[data-role="member"] & { width: 320px; background: $page_content_background_data; @extend .box-shadow;

        @media (max-width: $screen-xs-max) {
            body[data-hide-profile="true"] & { display: none; } /* Hide profile block on small screens */
        }
        @media (max-width: $screen-md-max) {
            margin: 0 auto 20px auto; /* Center on small screens */
        }
        @media (min-width: $screen-lg-min) {
            float: left; border-radius: 4px; margin-left: 20px; /* Display on left on large screens */
        }

        #profile {
            .avatar-container { min-height: 310px; text-align: center;
                                background: $profile_avatar_container_background;
                                color     : $profile_avatar_container_text;

                // Design of first avatar layer: main profile content
                .avatar {
                    .image { height: 160px; position: relative;
                        #avatar-change { display: none; position: absolute; opacity: 0.8; cursor: pointer;
                            left: 100px; top: 40px; border-radius: 50%; background: rgba($black, 0.7); height: 36px; width: 36px; line-height: 36px;

                            &:hover { background: rgba($black, 0.9); }
                        }
                        &:hover #avatar-change { display: block; }

                        img { margin: 25px auto 20px auto; width: 140px; height: 140px; @extend .img-circle; }
                    }
                    .fullname { font-size: 20px; font-weight: bold; margin-top: 16px; }
                    .points   { margin-top: 10px; }
                    .edit-profile { margin-top: 16px;
                        a.btn { line-height: 40px; height: 40px; padding: 0 20px; }
                    }
                }
            }

            .summary {
                ul { margin-bottom: 0;
                    li { margin-top: 0; border-radius: 0; border-bottom: 1px solid $profile_avatar_container_summary_border; color: $profile_avatar_container_summary_text;
                        .value { float: right; font-weight: bold; color: $profile_avatar_container_summary_value_text; }
                    }
                }
            }
        }
    }


    // Design of second avatar layer: avatar-update (inside this section)
    body[data-role="member"] & {
        #profile {
            .avatar-container {
                // Design of second avatar layer: avatar-update
                .avatar-uploader.slim { position: absolute; top: 7%; left: 10%; width: 80%;

                    .slim-area { color: $white;
                        .slim-drip { background: $blue; color: $white; } // Background 'drop image here'
                        .slim-result {
                            img { @extend .img-circle; }
                        }
                    }

                    .slim-btn-group {
                        .slim-btn { background-image: none; position: relative;

                            &.slim-btn-remove:after,
                            &.slim-btn-edit:after,
                            &.slim-btn-upload:after { @extend .fake-element; position: relative; height: 36px; line-height: 30px; font-size: 26px; font-family: 'Glyphicons Halflings'; }

                            &.slim-btn-remove:after { color: $white; content: "\e014"; padding-top: 4px; } // Diagonal cross symbol
                            &.slim-btn-edit:after   { color: $white; content: "\270f"; padding-top: 4px; font-size: 21px; } // Edit (pencil) symbol
                            &.slim-btn-upload:after { color: $white; content: "\e013"; padding-top: 4px; padding-right: 2px; } // Mark symbol
                        }
                    }
                }
            }
        }
    }



}
