$data_table_border          : $page_content_border;
$data_table_background_th   : $white;
$data_table_background_odd  : #fafafa;
$data_table_background_even : $white;

#member-reservation { margin-top: -15px; margin-bottom: -15px; /* remove default padding to make table content perfectly aligned */
    /* Space between two tables */
    > .row             { margin-bottom: 40px; }
    > .row:last-child  { margin-bottom:  0px; }

    h4 { padding: 8px; }

    table.table { margin-bottom: 0;
        thead {
            tr { background: $data_table_background_th;
                th { vertical-align: middle; border: 0; border-bottom: 1px solid $data_table_border;
                    @media (min-width: 1300px) { /* do not wrap table headers on large screens */
                        white-space: nowrap;
                    }
                }
            }
        }
        tbody {
            tr {
                &:nth-of-type(odd)  { background: $data_table_background_odd; }
                &:nth-of-type(even) { background: $data_table_background_even; }
                td { vertical-align: middle; border: 0; border-bottom: 1px solid $data_table_border; }
            }
        }

        tbody.header {
            td { background: $white; padding-top: 40px; }
            &.no-padding-top td { padding: 8px; }
        }
    }




    /* RESPOSIVE TABLE BASIC CSS */
    /* https://css-tricks.com/examples/ResponsiveTables/responsive.php */
    @media only screen and (max-width: 760px) {
        /* Force table to not be like tables anymore */
        table, thead, tbody, th, td, tr {
            display: block;
        }

        /* Hide table headers (but not display: none;, for accessibility) */
        thead tr {
            position: absolute;
            top: -9999px;
            left: -9999px;
        }

        tr { border: 1px solid #ccc; }

        td {
            /* Behave  like a "row" */
            border: none;
            border-bottom: 1px solid #eee;
            position: relative;
            padding-left: 50%;
            text-align: right;
        }

        td:before {
            /* Now like a table header */
            position: absolute;
            /* Top/left values mimic padding */
            top: 6px;
            left: 6px;
            width: 45%;
            padding-right: 10px;
            white-space: nowrap;
        }

        /*
        Label the data
        */
        td:nth-of-type(1):before { content: "#"; }
        td:nth-of-type(2):before { content: "Hotel Name"; }
        td:nth-of-type(3):before { content: "Check-out"; }
        td:nth-of-type(4):before { content: "rePoints redeemed"; }
        td:nth-of-type(5):before { content: "rePoints earned"; }
        td:nth-of-type(6):before { content: "Status"; }
        td:nth-of-type(7):before { content: "Detail"; }


        thead.header { display: none; }
        tbody.header {
            td { padding: 0; text-align: center;
                &:before { display: none; }
            }
        }
    }




    //////// TABLE HEADER SORTING ICONS //////////
    th {
        &.headerSortUp, &.headerSortDown, &.header { position: relative; padding-right: 10px; cursor: pointer; }
        &.headerSortUp:hover, &.headerSortDown:hover, &.header:hover {
            &:before { opacity: 1; }
        }

        &.headerSortUp:before,
        &.headerSortDown:before,
        &.header:before { display: inline; position: relative; top: 2px; line-height: 19px; padding-right: 4px; font-family: 'Glyphicons Halflings'; font-size: 0.8em; opacity: 0.6; }

        &.header:before         { content: "\e150"; }
        &.headerSortUp:before   { content: "\e156"; opacity: 0.8; }
        &.headerSortDown:before { content: "\e155"; opacity: 0.8; }
    }
}
