
html, body {
    font-family: 'Source Sans Pro', sans-serif;
    color: #333;
    padding: 0; margin: 0;
    font-size: 11pt;
    height: 100%;
}
.clearfix {
    clear: both;
}
#content {
    height: 100%;
}
.container {
    height: 100%;
}
.margin {
    padding: 1em 3em 2em 3em;
    height: 100%;
    box-sizing: border-box;
}
#register_confirm {
    height: 100%;
    background-color: #f0f0f0;
}
#login_container {
    min-height: 430px;
    height: 480px;
    position: relative;
    overflow: auto;
}
h1, h2  {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    text-align: center;
    font-size: 15pt;
    margin: 1em 0;
    color: black;
}
h1.large {
    font-size: 24pt;
    margin: 0.5em;
}
label {
    display: block;
}
label input[type=checkbox] {
    width: 20px;
    height: 20px;
    border: 1px solid gray;
    background-color: white;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    margin-left: 0;
}
label.checkbox {
    line-height: 24px;
    margin-bottom: 10px;
}
input[type=text], input[type=email], input[type=password] {
    border: 1px solid #aaa;
    padding: 13px;
    border-radius: 3px;
    width: 100%;
    color: #333;
    font-size: 10pt;
    font-weight: bold;
    box-sizing: border-box;
}
.input-container {
    margin-bottom: 9px;
}
#rs_logo {
    margin: auto;
    margin-top: 20px;
    width: 160px;
    height: 60px;
    background-image: url('../../images/logo-new.png');
    background-size: contain;
    background-repeat: no-repeat;
}
#reg_form, #login_form {
    width: 330px;
    margin: auto;
    margin-top: 10px;
}
.forgot_pass {
    width: 200px;
    float: right;
    text-align: right;
    height: 40px;
    line-height: 40px;
}
.submit_btn {
    float: left;
}
#submit_btn {
    width: auto;
    background-color: rgb(29,137,228);
    border: none;
    border-radius: 20px;
    color: white;
    font-size: 11pt;
    padding: 13px 20px;
    font-weight: bold;
    cursor: pointer;

}
a, a:link, a:hover, a:visited {
    color: rgb(29,137,228);
    font-weight: normal;
    text-decoration: underline;

}
#under_the_line {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 0; margin: 0; border: none;
}
#under_the_line div {
    margin: auto;
    border-top: 1px solid #ddd;
    width: 350px;
    padding: 20px;
    font-size: 11pt;
}
#error_top, #success_top{
    color: red;
    text-align: center;
    margin-bottom: 5px;
    font-weight: bold;
}
#success_top {
    color: forestgreen;
}
body {
    height: 100%;
}
.center {
    text-align: center;
}