.slider {
  width: 264px;
}

.slider > .dragger {
  background: white;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;

  /*border: 1px solid #ffab00;*/
  border: 1px solid rgb(43,121,255);
  width: 16px;
  height: 16px;
    -webkit-box-shadow: inset 0 2px 2px rgba(255,255,255,0.5), 0 2px 8px rgba(0,0,0,0.2);
    -moz-box-shadow: inset 0 2px 2px rgba(255,255,255,0.5), 0 2px 8px rgba(0,0,0,0.2);
    box-shadow: inset 0 2px 2px rgba(255,255,255,0.5), 0 2px 8px rgba(0,0,0,0.2);
}

.slider > .dragger:hover {
    /*background-color: #ffab00;*/
}

.slider > .track, .slider > .highlight-track {
  background: #e8e8e8;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  border: 1px solid #e8e8e8;
  height: 3px;
}

.slider > .highlight-track {
	/*background-color: #ffab00;*/
	background-color: rgb(43,121,255);
    height: 3px;
    margin-top: -1px;
	/*border-color: #ffab00;*/
	border-color: rgb(43,121,255);
}

