.resynct-font, .resynct-font a {
    font-family: arial;
    font-size: 11px;
    font-weight: normal;
    line-height: 12px;
}
.resynct-hidden {
    display: none;
}

.resynct-white {
    color: white;
}
.resynct-clearfix {
    clear: both;
}
.resynct-bold {
    font-weight: bold;
}

.resynct-arrow {
    border-left: 1px solid white;
}
.resynct-widget {
    display: inline-block;
    background-color: rgb(67,138,255);
    height: 24px;
    cursor: pointer;
    padding: 0 12px;
}
.resynct-widget.resynct-save-selection-btn {
    height: auto;
}
.resynct-radius {
    border-radius: 15px;
}

.resynct-radius-left {
    border-radius: 15px 0 0 15px;
}
.resynct-radius-right {
    border-radius: 0 15px 15px 0;
}
.resynct-widget .resynct-text {
    padding: 6px 0;
    line-height: 12px;
}
.resynct-widget.resynct-active {
    background-color: rgb(43,121,255);
}
.resynct-widget a, .resynct-widget a:hover {
    color: white;
    text-decoration: none;
}
.resynct-authenticated .resynct-widget {
    cursor: default;
}

.resynct-coin {
    padding-left: 30px;
    background-image: url(https://s3.amazonaws.com/resynct/widgets/resynct-coin.png);
    background-repeat: no-repeat;
    background-position: 8px 3px;
}
/* outer container of the redeem points button */
.resynct-use-points-btn-outer {
    width: 200px;
}
.resynct-use-points-btn-outer > div {
    float: left;
}

/* The selection is made on the button - display the cancel selection btn*/
.resynct-use-points-btn-outer.resynct-selected .resynct-clear-selection-btn {
    display: inline-block;
}
.resynct-use-points-btn-outer.resynct-selected .resynct-widget.resynct-radius {
    border-radius: 15px 0 0 15px;
}
.resynct-selected .resynct-widget {
    padding-right: 4px;
}


/* caret icon */
.resynct-caret {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-left: 3px;
    background-image: url(https://s3.amazonaws.com/resynct/widgets/icons-sprite.png); /* @todo - replace with sprite */
    background-repeat: no-repeat;
    background-position: 0 0;
}
.resynct-open .resynct-caret {
    background-position: 0 -12px;
}
/* cross icon to clear the selection - right side of the redeem points btn */
.resynct-clear-selection-btn {
    border-left: 1px solid rgb(87, 150, 255);
    width: 24px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    display: none;
    padding-left: 0;
}
.resynct-clear-selection-btn .resynct-cross {
    background-image: url(https://s3.amazonaws.com/resynct/widgets/icons-sprite.png); /* @todo - replace with sprite */
    background-repeat: no-repeat;
    background-position: 0 -24px;
    width: 12px;
    height: 12px;
    margin: 6px 4px;
}

/* redeem points dialog container */
.resynct-point-selection-dialog > div  {
    padding: 10px 10px;
}
.resynct-point-selection-dialog .resynct-widget  {
    padding: 3px 0;
    margin-top: 20px;
}
.resynct-point-selection-dialog {
    border: 1px solid gray;
    border-radius: 3px;
    background-color: white;
    width: 300px;
    height: 250px;
    -webkit-box-shadow: 0px 0px 5px 2px rgba(119,119,119,0.5);
    -moz-box-shadow: 0px 0px 5px 2px rgba(119,119,119,0.5);
    box-shadow: 0px 0px 5px 2px rgba(119,119,119,0.5);
    font-size: 13px;
}
.resynct-slider-container {
    border-bottom: 1px solid #ddd;
}
.resynct-values-container .resynct-label {
    width: 170px;
    margin-right: 10px;
    float: left;
    text-align: right;
}
.resynct-values-container .resynct-value {
    width: 95px;
    float: left;
    text-align: right;
}
.resynct-values-container .resynct-line {
    margin: 5px 0 10px 0;
    height: 13px;
}
.resynct-earn-points, .resynct-final-rate {
    font-weight: bold;
}
.resynct-selection-points {
    color: rgb(43,121,255);
}
.resynct-icon {
    padding-left: 45px;
    min-height: 34px;
    background-image: url(https://s3.amazonaws.com/resynct/widgets/resynct-coin-lg.png);
    background-repeat: no-repeat;
    background-position: 0 0;
}
.resynct-top-label {
    padding-top: 12px;
}

/* for Apply points btn on the selection dialog */
.resynct-block {
    display: block;
    width: auto;
    text-align: center;
}

.resynct-coin-lg {
    
}

.resynct-selection {
    text-align: center;
    width: 50%;
    margin: auto;
}
.resynct-selection-currency {
    font-size: 120%;
    line-height: 20px;
}
.resynct-font a:hover {
    text-decoration: none;
    color: white;
}
.slider {
    margin-top: 10px;
}
/* Confirmation Iframe widget */
.resynct-confirm-widget {
    background-color: #fafafa;
    border: 1px solid #ddd;
    border-radius: 3px;
    height: 90px;
    font-weight: bold;
    line-height: 14px;
    font-size: 13px;
    min-width: 670px;
}

.resynct-ifr-left {
    float: left;
    height: 90px;
    background-color: white;
    width: 25%;
    border-right: 1px solid #ddd;
}
.resynct-logo-lg {
    background-image: url(https://s3.amazonaws.com/resynct/widgets/resynct-logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 120px;
    height: 40px;
    margin: 25px auto;
}
.resynct-ifr-content .resynct-value {
    font-size: 110%;
}

.resynct-text-block {
    float: left;
    margin: 5px  1%;
    height: 50px;
    width: 22%
}
.resynct-text-block.resynct-col-2 {
    float: left;
    margin: 5px  1%;
    height: 50px;
    width: 28%
}
.resynct-text-block.resynct-col-3 {
    float: left;
    margin: 5px  1%;
    height: 50px;
    width: 18%
}
.resynct-center {
    text-align: center;
}
.resynct-ifr-content .resynct-highlighted-value {
    color: rgb(43,121,255);
    font-size: 120%;
    margin-top: 10px;
}

.resynct-confirm-widget .resynct-label {
    display: inline-block;
    margin-top: 15px;
    width: 80px;
    text-align: right;
}
.resynct-total-label {
    margin-top: 15px;
}
.resynct-col-1 .resynct-label {
    width: 112px;
}
.resynct-confirm-widget .resynct-value {
    display: inline-block;
    text-align: left;
}