.clearfix:after { @extend .fake-element; clear: both; }

.fake-element { display: block; content: ''; }

.img-circle { border-radius: 50%; } /* copied from bootstrap */



/* Checkbox custom desigm, based on : http://codepen.io/CreativeJuiz/pen/BiHzp
   With Bootstrap glyphicon for mark symbol

  <input class="custom" type="checkbox" id="inputid" name="username"><label for="inputid"> Check Me!</label>
*/
input.custom[type="checkbox"] { height: $input_checkbox_height;
    &:not(:checked), &:checked { position: absolute; left: -9999px;
        & + label { position: relative; padding-left: 35px; cursor: pointer;
            &:before { content: ''; position: absolute; left: 0; top: 0; width: 26px; height: 26px; border: 1px solid lighten($gray, 30%); background: $white; border-radius: 4px; }
            &:after  { content: '\e013'; position: absolute; top: 6px; left: 7px; color: $gray; font-size: 12px;
                        font-family: 'Glyphicons Halflings'; font-style: normal; font-weight: 400; line-height: 1; -webkit-font-smoothing: antialiased;
            }
        }
    }

    &:not(:checked) + label:after { opacity: 0; }
    &:checked       + label:after { opacity: 1; }

    /* disabled checkbox */
    // &:disabled:not(:checked), &:disabled:checked {
    //     & + label:before { box-shadow: none; border-color: #bbb; background-color: #ddd; }
    // }

    // &:disabled:checked + label:after { color: #999; }
    // &:disabled + label { color: #aaa; }

    // Accessibility
    &:checked:focus, &:not(:checked):focus {
        & + label:before { border: 1px solid $blue; }
    }

    // Label style
    & + label { font-weight: normal; font-size: 1em; line-height: $input_checkbox_height; margin-bottom: 0; }
}





/* (c) Michał Czernow (Michał Czernow) */
.middle-container { height: 100%; white-space: nowrap; /* May want to do this if there is risk the container may be narrower than the element inside */
    &:before { content: ''; display: inline-block; height: 100%; vertical-align: middle; margin-right: -0.25em; /* Adjusts for spacing */ } 
    .middle { display: inline-block; vertical-align: middle; white-space: initial; width: 100%; }
}
.bottom-container { height: 100%; white-space: nowrap; /* May want to do this if there is risk the container may be narrower than the element inside */
    &:before { content: ''; display: inline-block; height: 100%; vertical-align: bottom; margin-right: -0.25em; /* Adjusts for spacing */ } 
    .bottom { display: inline-block; vertical-align: bottom; white-space: initial; width: 100%; }
}




/* ///////////// .autocomplete-suggestions /////////// */
.autocomplete-suggestions { overflow: auto; background: $white; margin-left: 1px; border: 1px solid #66afe9; border-top: 0;
    .autocomplete-suggestion { padding: 7px 10px; margin: 1px 0; overflow: hidden; cursor: pointer;
        .not-found { text-align: center; margin: -7px -10px; padding: 20px; background: $white; color: $black;
            .first { font-size: 1.3em; margin-bottom: 10px; }
        }
    }
    .autocomplete-selected { background: #1d89e4; color: $white; }
}



// jquery.Plugin for jumping to start of page //
#jumpTop { position: fixed; bottom: 90px; left: 40px; width: 50px; height: 50px; z-index: 999;
           text-align: center; line-height: 50px; font-size: 30px; padding-top: 2px; padding-right: 3px; cursor: pointer;
           background: $white; border: 2px solid lighten($gray, 20%); border-radius: 50%;  color: lighten($gray, 10%);

    &:hover, &:focus, &:active { border: 2px solid lighten($gray, 10%); border-radius: 50%;  color: $black; }
}
