/////////// VARIABLES //////////
$blue         : #2979ff;
$darkblue     : #1665c1;
$darkestblue  : #1558a6;
$white        : #FFFFFF;
$black        : #000000;
$gray         : #777777;
$red          : #FF0000;
$green        : #00FF00;


$input_checkbox_height: 24px;

// Technically, it should be included with bootsrap, but it too slow
$screen-min     : 0px;
$screem-uxs-max : 320px; // Ultra Extra Small
$screen-us-min  : 379px; // Ultra Small
$screen-us-max  : 480px; // Ultra Small
$screen-xs-min  : 481px;
$screen-xs-max  : 767px;
$screen-sm-min  : 768px;
$screen-sm-max  : 991px;
$screen-md-min  : 992px;
$screen-md-max  : 1199px;
$screen-lg-min  : 1200px;


/////////// VARIABLES //////////
