///////////////// GLOBAL INCLUDES (for front + back) ///////////////////
@import 'variables';
@import 'mixins';
///////////////// GLOBAL INCLUDES (for front + back) ///////////////////

/* /////////// VARIABLES ////////// */
$blue                         : #1d89e4;
$darkblue                     : #1665c1;
$darkestblue                  : #1558a6;
$white                        : #FFFFFF;
$black                        : #000000;
$gray                         : #777777;

$top_menu_height              : 60px;
$top_menu_line_height         : $top_menu_height;
$top_menu_background          : $white;
$top_menu_border              : #cfd9db;
$top_menu_text_color          : #757575;

$page_content_background      : #f1f5f8;
$page_content_background_data : $white;
$page_content_border          : #ebebeb;


$footer_height                : 80px;
$footer_text                  : #798f9c;
$footer_border                : #cfd9db;
$footer_background            : #eeeeee;

$global_padding_x             : 20px;



$screen-xs-min: 0px;
$screen-xs-max: 767px;
$screen-sm-min: 768px;
$screen-sm-max: 991px;
$screen-md-min: 992px;
$screen-md-max: 1199px;
$screen-lg-min: 1200px;
/* /////////// VARIABLES ////////// */


////////////////// IMAGES URLS VARIABLES ///////////////////

$image_url_social_logo: "https://s3.amazonaws.com/resynct/widgets/social-logo.png";

////////////////// IMAGES URLS VARIABLES ///////////////////




// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
.sortable {
    color: #337ab7;
    cursor: pointer;
}
#sidebar {
    min-width: 250px;
    display: table-cell;
}
.number {
    text-align: right;
}
.points-zero {
    color: gray;
}
.points-positive {
    color: green;
    font-weight: bold;
}
.points-negative {
    color: red;
    font-weight: bold;
}

.flash_msg {
    position: fixed;
    top: 0px;
    width: 100%;
    text-align: center;
    padding: 5px 20px;
    color: green;
    background-color: #55cc55;
    margin: auto;
}

.flash_msg div {
    width: 500px;
    margin: auto;
}

.dialog-label, .dialog-number {
  text-align: right;
}
.dialog-value {
  font-weight: bold;
}
.cursor-pointer {
  cursor: pointer;
}

/* /////////////// Material Icons Styles //////////////// */

/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

/* /////////////// END Material Icons Styles //////////////// */



////////////////// GLOBAL ELEMENTS VARIABLES ///////////////
a, .url { color: $blue; cursor: pointer;
    &:hover, &:focus { color: darker($blue, 10%); }
    &:active { color: darker($blue, 20%); }
}
////////////////// GLOBAL ELEMENTS VARIABLES ///////////////



////////////////// CUSTOM CLASSES //////////////////////////
.nowrap { white-space: nowrap; }

.box-shadow {
    -webkit-box-shadow: 1px 1px 7px 0px rgba(50, 50, 50, 0.1);
    -moz-box-shadow:    1px 1px 7px 0px rgba(50, 50, 50, 0.1);
    box-shadow:         1px 1px 7px 0px rgba(50, 50, 50, 0.1);
}

.btn:hover, .btn:focus { outline: 0 !important; }
.btn-round { height: 55px; border-radius: 10em; }
.btn-blue  { background: $blue; text-transform: uppercase; color: $white;
    &:hover, &:focus { background: darken($blue, 10%); color: $white; }
    &:active { background: darken($blue, 20%); color: darken($white, 10%); }
}
.btn-darkblue { background: darken($blue, 10%); text-transform: uppercase; color: $white;
    &:hover, &:focus { background: darken($blue, 15%); color: $white; }
    &:active { background: darken($blue, 20%); }
}

.img-circle { bordr-radius: 50%; } /* copy from bootstrap */
////////////////// CUSTOM CLASSES //////////////////////////



///////////////// INCLUDES ///////////////////
@import 'front/modal';
@import 'back/layout';
@import 'back/member_profile';
@import 'back/member_reservation';
@import 'back/mixins';
///////////////// INCLUDES ///////////////////
