///////////////// GLOBAL INCLUDES (for front + back) ///////////////////
@import 'variables';
@import 'mixins';
///////////////// GLOBAL INCLUDES (for front + back) ///////////////////




///////////// VARIABLES /////////////
///////////// VARIABLES /////////////


////////////////// IMAGES URLS VARIABLES ///////////////////

$image_url_traveler_bg        : 'https://s3.amazonaws.com/resynct/public_website/background/traveler-bg.jpg';
$image_url_hotel_bg           : 'https://s3.amazonaws.com/resynct/public_website/background/hotel-bg.jpg';
// $image_url_resynct_3d      : 'https://s3.amazonaws.com/resynct/public_website/resynct-3d.jpg';
$image_url_signup_bg_footer   : 'https://s3.amazonaws.com/resynct/public_website/signup-bg-footer.jpg';
$image_url_register_sprite    : 'https://s3.amazonaws.com/resynct/public_website/register-sprite.png';
$image_url_traveler_wide_bg   : 'https://s3.amazonaws.com/resynct/public_website/background/traveler-wide-bg.jpg';
$image_url_sprite             : 'https://s3.amazonaws.com/resynct/public_website/sprite.png';
$image_url_resynct_logo       : '../../images/front/get_member/resynct-logo.png';
$image_url_howitworks_desktop : '../../images/front/get_member/HowItWorks_desktop.jpg';
$image_url_howitworks_tablet  : '../../images/front/get_member/HowItWorks_Tablet.jpg';
$image_url_howitworks_mobile  : '../../images/front/get_member/HowItWorks_Mobile.jpg';

////////////////// IMAGES URLS VARIABLES ///////////////////





// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
.flash_msg div {
    width: 500px;
    margin: auto;
}

/////////////// Material Icons Styles ////////////////
// Rules for sizing the icon.
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

// Rules for using icons as black on a light background.
.material-icons.md-dark { color: rgba($black, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba($black, 0.26); }

// Rules for using icons as white on a dark background.
.material-icons.md-light { color: rgba($white, 1); }
.material-icons.md-light.md-inactive { color: rgba($white, 0.3); }
/////////////// END Material Icons Styles ////////////////



////////////////// CUSTOM CLASSES //////////////////////////
.nowrap { white-space: nowrap; }

.box-shadow {
    -webkit-box-shadow: 1px 1px 7px 0px rgba(50, 50, 50, 0.1);
    -moz-box-shadow:    1px 1px 7px 0px rgba(50, 50, 50, 0.1);
    box-shadow:         1px 1px 7px 0px rgba(50, 50, 50, 0.1);
}

.btn:hover, .btn:focus { outline: 0 !important; }
.btn-round { height: 55px; border-radius: 10em; }
.btn-blue  { background: $blue; text-transform: uppercase; color: $white;
    &:hover, &:focus { background: darken($blue, 10%); color: $white; }
    &:active { background: darken($blue, 20%); color: darken($white, 10%); }
}

.sprite-icons { background-image: url('#{$image_url_sprite}'); background-repeat: no-repeat;
    &.si-sign-up        { background-position: 0 -0px; }
    &.si-get-deals      { background-position: 0 -70px; }
    &.si-book-your-stay { background-position: 0 -140px; }
    &.si-earn-points    { background-position: 0 -210px; }

    &.si-facebook       { background-position: 0 -280px; }
    &.si-linkedin       { background-position: 0 -330px; }
    &.si-twitter        { background-position: 0 -380px; }
}

// #message-container,
// #error-container,
// .message-container,
// .error-container { position: fixed; top: 60px; right: 0; left: 0; width: 100%; z-index: 500;
//                    background: $black; box-shadow: 0px 9px 10px -4px #c0c0c0; border-radius: 4px; border-bottom-left-radius: 0; border-bottom-right-radius: 0; cursor: pointer;
//     .message,
//     .error { min-height: 50px; line-height: 50px; text-align: center; color: $white; font-size: 1.2em;
//     }
//
//     .message, .error {
//         .material-icons { position: relative; top: 7px; margin-right: 20px;
//             // Blink for icons
//             -webkit-animation: blink_one_sec 1s linear infinite;
//             -moz-animation   : blink_one_sec 1s linear infinite;
//             -o-animation     : blink_one_sec 1s linear infinite;
//         }
//     }
//     .error   .material-icons { color: #ee5452; }
//     .message .material-icons { color: #02958b; }
//
//     // Slide down for main body
//     -webkit-animation: messageEaseDown 1s ease 1 forwards;
//     -moz-animation   : messageEaseDown 1s ease 1 forwards;
//     -o-animation     : messageEaseDown 1s ease 1 forwards;
// }

// Input's error
.has-error {
    input { border: 1px solid #f44336; }
    .help-block { color: #f44336; }
}


////////////////// CUSTOM CLASSES //////////////////////////

///////////////// INCLUDES ///////////////////
@import 'front/layout';
@import 'front/home_choose_one';
@import 'front/home_get_member';
@import 'front/modal';
@import 'front/popup';
@import 'front/faq';
@import 'front/privacy';

@import 'front/mixins';
///////////////// INCLUDES ///////////////////
