$faq_padding: 30px;

#content.faq {
    h1.title { text-align: center; margin: 0; margin-bottom: ($faq_padding * 2); }

    .line { border-top: 1px solid lighten($gray, 40%); padding: 0 $faq_padding;
        &:last-child { border-bottom: 1px solid lighten($gray, 40%); margin-bottom: ($faq_padding /2); }
        &[data-expanded="true"] { background: lighten($gray, 50%); padding: 0 $faq_padding ($faq_padding/1.2) $faq_padding; }


        h3 { margin: 0; line-height: ($faq_padding * 2); font-size: 14px; font-weight: bold; position: relative; padding-right: 20px;

            cursor: pointer; color: $black; text-decoration: none;
            &:hover, &:focus { color: darken($blue, 10%); }
            &:active { color: darken($blue, 20%); }

            .glyphicon { position: absolute; right: 0px; color: lighten($gray, 20%); line-height: ($faq_padding * 2); }
            .glyphicon.glyphicon-chevron-up { display: none; } // Hide up chevron for closed state
            .glyphicon.glyphicon-chevron-down { display: block; }
        }
        &[data-expanded="true"] h3 {
            .glyphicon.glyphicon-chevron-up { display: block; }
            .glyphicon.glyphicon-chevron-down { display: none; } // Hide down chevron for closed state
        }

        & .content { display: none;
            // p { margin: 0; }
        }

        &[data-expanded="true"] .content { display: block; }
    }


    p.note { padding-left: $faq_padding;
        &:first-child { margin-top: ($faq_padding / 2); }
    }

}
