/////////////////
// $hco- = $home-choose-one-

$hco-width              : 430px;
$hco-height             : 240px;
$hco-border-block-width : 60px;
$hco-background         : rgba(40, 39, 37, 0.7);


// $hco-content-padding    : 40px;
/////////////////

#wrapper-choose-one { position: absolute; top: 0; bottom: 0; left: 0; right: 0; height: 100%; width: 100%;

    .member { background: url('#{$image_url_traveler_bg}') no-repeat 0 0; background-size: cover; background-position: bottom; }
    .hotel  { background: url('#{$image_url_hotel_bg}')    no-repeat 0 0; background-size: cover; background-position: bottom;  @extend .clearfix; }

    .member,
    .hotel { position: relative; margin: 0;
        @media (min-height: ($hco-height *2)) and (max-width: $screen-md-max) { height: 50%; } // Left above right
        @media (min-width: $screen-lg-min) { float: left; height: 100%; width: 50%; } // Left and right

        .choose-one { background: $hco-background; min-height: $hco-height; padding: 30px 10px; 
            // For very small screens do not use position: absolute because of overflow issue
            @media                                    (max-width: $screen-md-max) { width: 100%; }
            @media (min-height: ($hco-height *2)) and (max-width: $screen-md-max) { position: absolute; bottom: 0; }
            @media                                    (min-width: $screen-lg-min) { position: absolute; width: $hco-width; bottom: 25%; }

            .header { color: $white;
                h1 { color: $white; margin: 0;
                    .hightlight { color: $blue; }
                }
            }
            .message { margin-top: 20px; color: $gray; }
            .explore-btn { margin-top: 25px;
                a { border-color: #424242; color: $white; line-height: 50px; height: 50px; padding: 0 30px;
                    &:hover { border-color: $white; }
                    .material-icons { position: relative; margin-left: 15px; top: 5px; }
                }
            }

            // Corners should be displayed only for desktop
            @media (max-width: $screen-md-max) {
                &:before, &:after { display: none; }
            }
            @media (min-width: $screen-lg-min) {
                &:before, &:after  { display: block; content: '';  position: absolute; top: 0; width: 0; height: 0; }
            }
        }
    }

    .member {
        .choose-one { right: 0; padding-right: 0;
            @media (max-width: $screen-md-max) { text-align: center; }
            @media (min-width: $screen-lg-min) { padding-right: 50px; text-align: right;
                // Corner
                &:before { left : -60px; border-left : $hco-border-block-width solid transparent; border-bottom: $hco-height solid $hco-background; }
            }
        }
    }

    .hotel {
        .choose-one { left: 0; padding-right: 0;
            @media (max-width: $screen-md-max) { text-align: center; }
            @media (min-width: $screen-lg-min) { padding-left: 50px; text-align: left;
                // Corner
                &:after  { right: -60px; border-right: $hco-border-block-width solid transparent; border-top: $hco-height solid $hco-background; }
            }
        }
    }


}
