// Sign up form styles for top & bottom
.form-sign-up { text-align: center; max-width: 1000px; margin: 0 auto; color: lighten($gray, 20%);
    .row { margin-bottom: 8px;
        &:last-child { margin-top: 15px; }
    }
    .text-right {
        button { float: right; clear: both; }
    }
    .form-group { margin: 0; }

    ul li { vertical-align: top; }

    label { margin-bottom: 0; }

    .terms, input, button { min-height: 54px; line-height: 54px; padding: 0 20px; }
    input  { color: lighten($gray, 20%); border: 1px solid $gray; background: rgba($gray, 0.2); border-radius: 8px; }
    .terms { padding: 0 0 0 15px; font-size: 0.9em;
        @media (max-width: $screen-xs-max) { line-height: 30px; margin-top: 10px; }
        @media (min-width: $screen-sm-min) { }

        &.terms-top { text-align: left;
            @media (max-width: $screen-xs-max) { display: none; }
            @media (min-width: $screen-sm-min) { display: block; }
        }
        &.terms-bottom { text-align: center;
            @media (max-width: $screen-xs-max) { display: block; }
            @media (min-width: $screen-sm-min) { display: none; }
        }

        a { color: lighten($gray, 20%); text-decoration: underline;
            &:hover, &:focus { color: lighten($gray, 30%); }
            &:active { color: lighten($gray, 40%); }
        }
    }
    .submit { text-align: right;
        button { width: 170px;
           @media (max-width: $screen-xs-max) { width: 100%; }
        }
    }

    .help-block { width: 350px; text-align: left; margin: 0; }
}




// .get_member
.get_member {
    // SLIDE 1
    .slide1 { min-height: 783px; border-bottom: 4px solid #2879fe; background: url('#{$image_url_traveler_wide_bg}')  no-repeat 0 0; background-size: cover; background-position: bottom; position: relative;
        > .container { position: relative; z-index: 1;
            .title   { margin-top: 195px; text-align: center; color: $white;
                &.centered { margin-top: 250px; }
                h1 { margin: 0 10px; color: $white; }
            }
            .message      { margin-top:  22px; text-align: center; color: lighten($gray, 20%); }
            .form-sign-up { margin-top:  60px; }
        }
    }



    // SLIDE 2 ABOUT RESYNCT
    .slide2 {
        display: block;
        position: relative;

        @media (max-width: $screen-sm-max) { margin: 80px 0 90px 0; }
        @media (min-width: $screen-md-min) { min-height: 644px; }
        &::after {
          content: "";
          background: url('#{$image_url_resynct_logo}') no-repeat center center;
          background-size: 1000px;
          opacity: 0.5;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          position: absolute;
          z-index: -1;
          @media (max-width: $screen-sm-max) {
            background-size: 750px;
          }
          @media (max-width: $screen-xs-max) {
            background-size: 300px;
          }

        }

        > .container > .row {
            @media (max-width: $screen-sm-max) { }
            @media (min-width: $screen-md-min) { padding-top: 175px; padding-bottom: 150px; }
            .message-container {
                @media (max-width: $screen-sm-max) { margin: 30px 0; text-align: justify; }
                @media (min-width: $screen-md-min) { vertical-align: middle; text-align: justify; }
                @media (max-width: $screen-xs-max) { padding: 0 30px; }
                .title { font-size: 26px; color: #468bff; position: relative; margin-top: 20px;
                    // On small resolution center this blue line
                    @media (max-width: $screen-sm-max) {
                        &.line-bottom-left:after { margin-left: -34px; left: 50%; }
                    }
                }
                .message { margin-top: 15px; color: #333; line-height: 24px; font-size: 15px}
            }
        }
    }



    // SLIDE 3 HOW IT WORKS
    .slide3 {
        background: url('#{$image_url_howitworks_desktop}') #f8f9fb no-repeat center center;
        height: 1300px;
        @media (min-width: $screen-md-min) {padding-top: 120px; padding-bottom: 120px;}
        @media (max-width: $screen-sm-max) {
          padding-top: 90px;
          padding-bottom: 90px;
          background: url('#{$image_url_howitworks_tablet}') #f8f9fb no-repeat center center;
          height: 779px;
        }
        @media (max-width: $screen-xs-max) {
          height: 918px;
          background: url('#{$image_url_howitworks_mobile}') #f8f9fb no-repeat center center;
        }
        @media (max-width: 400px) {
          background-size: 100%;
        }
    }



    // SLIDE 4
    #benefits.slide4 { background: $blue; overflow: hidden; padding-top: 20px; padding-bottom: 20px;
        > .container { position: relative; text-align: center;

            .title { position: relative; display: inline-block; margin: 0 auto; margin-top: 70px;
                &.line-bottom-center:after { background: $white; }
                h1 { color: $white; }
            }

            .carousel-indicators {
                @media (max-width: $screen-md-max) { position: relative; margin-top: 50px; }
                @media (min-width: $screen-lg-min) { position: absolute; top: 450px; left: 885px; }
            }
            .carousel-inner { overflow: initial;

                .item {
                    .image { margin-top: 0; margin-left: 10px; height: auto;
                        img { max-width: 100%; }
                        @media (min-width: $screen-lg-min) { text-align: left;}
                    }

                    .text { color: $white; z-index: 1;
                        @media (max-width: $screen-md-max) { }
                        @media (min-width: $screen-lg-min) { position: absolute; right: 35px; top: 230px; max-width: 450px; }

                        .message { max-width: 450px; font-size: 24px; margin-top: 60px; text-align: center; margin: 0 auto;
                            @media (max-width: $screen-md-max) { }
                            @media (min-width: $screen-lg-min) { }
                        }
                    }
                }
            }
        }
    }



    // SLIDE 5
    .slide5 { min-height: 500px; background: url('#{$image_url_signup_bg_footer}')  no-repeat 0 0; background-size: cover; color: $black;
        .title { margin-top: 40px; text-align: center; color: $black; position: relative;
            h1 { margin: 0; }
        }
        .message { margin-top: 60px; text-align: center; }
        .form-sign-up { text-align: center; margin-top: 30px;
            input { background: $white; border-color: lighten($gray, 40%); }
            .terms { color: $gray; }
        }

    }
}
// .get_member
