////////////////////////////////////////////////////////////
$header-height: 80px;
$header-background: $white;
$header-lowered-height: 50px;
$header-hightlight-color: #2a62ff;

$footer-height: 70px;
$footer-background: $white;

@mixin header-lowered-transition($time) {
    -webkit-transition: padding-top $time ease, min-height $time ease, line-height $time ease;
    transition        : padding-top $time ease, min-height $time ease, line-height $time ease;
}
////////////////////////////////////////////////////////////


////////////////// GLOBAL ELEMENTS VARIABLES ///////////////
html, body { padding: 0; margin: 0; width: 100%; height: 100%; color: $gray; }
body {
    &[data-background="traveler-wide"] { background: url('#{$image_url_traveler_wide_bg}') no-repeat 0 0; background-size: cover; }

    // We have header { position: fixed } only in -lg- screen, so remove any paddings & animations
    @media (max-width: $screen-md-max) { padding-top: 0; }
    @media (min-width: $screen-lg-min) {
        padding-top: $header-height; @include header-lowered-transition(0.6s);

        &[data-header="lowered"] { padding-top: $header-lowered-height; @include header-lowered-transition(0.6s); }
    }

}
h1, h2, h3, h4, h5, h6 { color: $black; }

a, .url { color: $blue; cursor: pointer;
    &:hover, &:focus { color: darken($blue, 10%); }
    &:active { color: darken($blue, 20%); }
}



.line-bottom-center, line-bottom-left { position: relative;
    &:after, &:after { display: block; content: ""; background: $blue; border: 0; width: 68px; height: 3px; position: absolute; bottom: -15px; }
}
.line-bottom-center:after { left: 50%; margin-left: -34px; }
.line-bottom-left:after   { left: 0; }
////////////////// GLOBAL ELEMENTS VARIABLES ///////////////





// #header
#header { width: 100%; background: $header-background; border-bottom: 1px solid lighten($gray, 40%);

    @media (max-width: $screen-md-max) { position: relative; text-align: center; }
    @media (min-width: $screen-lg-min) { position: fixed; top: 0; z-index: 10; text-align: left; }

    // Lowered version of menu onScroll
    body[data-header="lowered"] & {
        .logo         { line-height: $header-lowered-height;         @media (min-width: $screen-lg-min) { @include header-lowered-transition(0.5s); } }
        .menu ul li a { line-height: ($header-lowered-height - 9px); @media (min-width: $screen-lg-min) { @include header-lowered-transition(0.5s); } }
        .signinup     { line-height: $header-lowered-height;         @media (min-width: $screen-lg-min) { @include header-lowered-transition(0.5s); } }
    }

    .logo { line-height: $header-height;
            @media (min-width: $screen-lg-min) { @include header-lowered-transition(0.5s); }
        a { display: block;
            img { height: 50px; }
        }
    }

    .menu { text-align: center;
       @media (min-width: $screen-lg-min) { text-align: right; } // For "correct" aligmnet of menu in center

        ul { margin: 0;
            li { text-align: center;
               @media (max-width: $screen-us-max) { width: 100%; }
               @media (min-width: $screen-xs-min) and (max-width: $screen-xs-max) { width: initial; }

               a { display: block; border-top: 5px solid transparent; border-bottom: 5px solid transparent; color: #616161; text-transform: uppercase;
                   padding-left: 30px; padding-right: 30px;
                   // @media (min-width: $screen-xs-min) and (max-width: $screen-xs-max) { padding: 0 20px; }
                   @media (max-width: $screen-md-max) { line-height: 30px; }
                   @media (min-width: $screen-lg-min) { line-height: ($header-height - 10px); @include header-lowered-transition(0.5s); }

                   &:hover { border-bottom: 5px solid $blue; color: $blue; text-decoration: initial; }
                }
            }
        }
    }

    .signinup { margin-top: -2px; margin-bottom: 2px;
        @media (max-width: $screen-us-max) { line-height: 40px; }
        @media (min-width: $screen-xs-min) { line-height: $header-height; }
        @media (min-width: $screen-lg-min) { @include header-lowered-transition(0.5s); }

        .btn-round { height: 33px; line-height: 33px; padding: 0 25px; color: $blue; }
        .btn.sign-in { border: 1px solid $white; }
        .btn.sign-up { border: 1px solid $blue; }
    }




    // Small resolutions rules for #header
    // 320 > SCREEN < 480
    @media (max-width: $screen-us-max) {
        .logo, .signinup { text-align: center; width: 100%; }
    }
    @media (min-width: $screen-xs-min) {
        .logo { text-align: left; }
        .signinup { text-align: right; }
    }
}
// #header



// #content
#content { margin-top: 120px; margin-bottom: 120px; }
// #content



// #footer
#footer { height: $footer-height; border-top: 1px solid lighten($gray, 40%);
    .label, .social, .links { height: $footer-height; line-height: $footer-height; }

    .label { color: #cacaca; }
    .social { text-align: center; padding-top: 10px; line-height: initial;
        ul { margin: 0;
            a { display: block; opacity: 0.8;
                &:hover { opacity: 1; }
                .sprite-icons { width: 70px; height: 50px; }
            }
        }
    }
    .links {
        @media (max-width: $screen-sm-max) { text-align: center; }
        @media (min-width: $screen-md-min) { text-align: right; }
    }
}
// #footer
