// Message Ease Down
@-webkit-keyframes messageEaseDown {
    from { top: -600px; }
    to   { top: 0; }
}
@-moz-keyframes messageEaseDown {
    from { top: -600px; }
    to   { top: 0; }
}
@-o-keyframes messageEaseDown {
    from { top: -600px; }
    to   { top: 0; }
}


// Blink
@-webkit-keyframes blink_one_sec {
    0%   { opacity: 0.9 }
    51%  { opacity: 1; }
    100% { opacity: 0.9 }
}
@-moz-keyframes blink_one_sec {
    0%   { opacity: 0.9 }
    51%  { opacity: 1; }
    100% { opacity: 0.9 }
}
@-o-keyframes blink_one_sec {
    0%   { opacity: 0.9 }
    51%  { opacity: 1; }
    100% { opacity: 0.9 }
}


