// OKay, I copied it from front.scss because without it produce error. I DONT KNOW WHY
$gray: #777777;
$input_checkbox_height: 24px;
$screen-us-max  : 480px; /* Ultra Small */
////////

$modal_input_border_normal : 1px solid #bdbdbd;
$modal_input_border_error  : 1px solid #a94442;
$modal_input_border_focus  : 1px solid #2a62ff;
$modal_close_btn_color     : #424242;


// For popups on main website
.modal .modal-dialog { max-width: 450px; margin-left: auto; margin-right: auto;
    .modal-content { color: $gray;
        .modal-body { padding: 60px 40px;
            @media (max-width: $screen-us-max) { padding: 20px 10px; }
        }

        @extend .modal-form-content;
    }
}

// Standalone pages
.pseudo-modal { width: 449px; color: $gray; padding: 40px 40px; border-radius: 4px; margin: 60px auto; background: $white;
    @extend .modal-form-content;
}

// Popup pages (look in _popup.scss)
.popup { @extend .modal-form-content; }


// @extend from .modal .modal-dialog, .modal-pseudo
.modal-form-content {
    .logo { text-align: center;
        img { height: 52px; }
    }

    .message { text-align: center; margin-top: 5px; margin-bottom: 20px; color: $black; }

    button { color: $white; width: 100%;
        &.close { position: absolute; width: 36px; height: 36px; line-height: 20px; top: 0; right: 0; opacity: 0.7; text-shadow: none; color: $modal_close_btn_color;
            &:hover { opacity: 1; text-shadow: 0 1px 1px $white; color: $black; }
        }
    }

    .input { margin-bottom: 0px;
        label { font-weight: initial; }
        input { border: $modal_input_border_normal;
            &:focus { border: $modal_input_border_focus; }
        }

        input[type="text"],
        input[type="email"],
        input[type="password"] { height: 45px; width: 100%; font-size: 13px; font-weight: bold; padding: 0 20px; line-height: 45px; color: $gray; background: $white; }

        .checkbox { margin-top: 0; margin-bottom: 0;
            input[type="checkbox"] { height: 24px; }
        }
    }

    .forgot-password { line-height: $input_checkbox_height; }

    .has-error input { border: $modal_input_border_error; }

    .submit { margin-top: 20px; }

    .footer { margin-top: 30px; }
}


