// Popup pages
.popup { color: $gray; background: $white; font-family: 'Source Sans Pro', sans-serif; height: 100%; width: 100%; position: relative;
        @media (max-width: 400px) { > .padding { padding: 10px; } }
        @media (min-width: 401px) { > .padding { padding: 20px 40px; } }

        @extend .modal-form-content;

    a { font-family: 'Source Sans Pro', sans-serif; } 

    .message { margin-bottom: 0;
        h3 { font-family: 'Raleway', sans-serif; font-weight: 500; text-align: center; font-size: 15pt; margin: 1em 0; color: black; }
    }

    .btn { height: 44px; }
    .forgot_password, .already_a_member { line-height: 44px; }
    .form-group { margin-bottom: 7px;
        label { margin-bottom: 0; }
        .help-block { display: none; }
    }

    .under_the_line { padding: 0; margin-top: 30px; border-top: 1px solid $gray;
        div { margin: 20px 0; width: 100%; font-size: 11pt; text-align: center; }
    }

    .error_top, .success_top{
        color: red;
        text-align: center;
        margin-bottom: 5px;
        font-weight: bold;
    }
    .success_top {
        color: forestgreen;
    }

    .checkbox { margin-top: 6px !important; }
    .submit { margin-top: 10px; }
    .footer { margin-top: 20px; }


    // Password
    &[data-mode="password"] { padding-left: 20px; padding-right: 20px; // For prevent scrollbar displaying
    }

    // Registration
    &[data-mode="registration"] {
        .benefits { float: left; width: 45%; padding: 30px 25px; background: lighten($gray, 50%); height: 100%;
            .benefit { margin-bottom: 44px;

                .benefit-icon { float: left; margin: 0; width: 64px; height: 64px; background-image: url('#{$image_url_register_sprite}'); }
                .bi-2 { background-position-y: -64px; }
                .bi-3 { background-position-y: -128px; }

                .text { padding-left: 80px;
                    h2 { margin-bottom: 0.2em; font-weight: initial; font-size: 1.3em; }
                    p  { margin: 0; padding: 0; font-size: 0.9em; }
                }
            }
        }
        .form { float: left; width: 55%; height: 100%;
            &:after { display: block; content: ""; clear: both; }
        }

        @media (max-width: 400px) { .form { padding: 10px; } }
        @media (min-width: 401px) { .form { padding: 20px 40px; } }

        @media (max-width: $screen-xs-max) {
            .benefits, .form { float: initial; width: 100%; height: initial; }
        }


        #privacy { position: absolute; top: 0; left: 0; right: 0; bottom: 0; margin-right: 15px; padding: 30px; background: $white;
            @media (max-width: 400px) { padding: 30px 5px; }
            .close { position: fixed; top: 10px; right: 10px; z-index: 1; }
            .footer { margin-bottom: 40px; }
        }
    }
}
