#privacy.privacy, // register popup template
#content.privacy {
    h1, h4, p { display: block; }
    h1 { margin-top: 40px; margin-bottom: 40px;

        &.title { text-align: center; margin: 0; margin-bottom: 30px; }
    }
    h4 { margin-top: 30px; margin-bottom: 30px; }
    p { margin-bottom: 20px; }

}
